@import url("https://fonts.googleapis.com/css?family=Montserrat:100");



.app {
  
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-position: center;
  z-index: 1;
}

.wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  letter-spacing: 1em;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  color: white;
  font-size: 8em;
  letter-spacing: 0.4em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 200px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(76px, 9999px, 23px, 0);
    transform: skew(0.92deg);
  }
  5% {
    clip: rect(100px, 9999px, 12px, 0);
    transform: skew(0.6deg);
  }
  10% {
    clip: rect(19px, 9999px, 21px, 0);
    transform: skew(0.6deg);
  }
  15% {
    clip: rect(79px, 9999px, 34px, 0);
    transform: skew(0.1deg);
  }
  20% {
    clip: rect(78px, 9999px, 94px, 0);
    transform: skew(0.3deg);
  }
  25% {
    clip: rect(2px, 9999px, 59px, 0);
    transform: skew(0.43deg);
  }
  30% {
    clip: rect(79px, 9999px, 40px, 0);
    transform: skew(0.24deg);
  }
  35% {
    clip: rect(77px, 9999px, 59px, 0);
    transform: skew(0.49deg);
  }
  40% {
    clip: rect(69px, 9999px, 7px, 0);
    transform: skew(0.5deg);
  }
  45% {
    clip: rect(26px, 9999px, 83px, 0);
    transform: skew(0.65deg);
  }
  50% {
    clip: rect(2px, 9999px, 98px, 0);
    transform: skew(0.16deg);
  }
  55% {
    clip: rect(14px, 9999px, 54px, 0);
    transform: skew(0.8deg);
  }
  60% {
    clip: rect(80px, 9999px, 98px, 0);
    transform: skew(0.67deg);
  }
  65% {
    clip: rect(94px, 9999px, 90px, 0);
    transform: skew(0.72deg);
  }
  70% {
    clip: rect(82px, 9999px, 69px, 0);
    transform: skew(0.53deg);
  }
  75% {
    clip: rect(50px, 9999px, 80px, 0);
    transform: skew(0.07deg);
  }
  80% {
    clip: rect(69px, 9999px, 13px, 0);
    transform: skew(0.42deg);
  }
  85% {
    clip: rect(67px, 9999px, 8px, 0);
    transform: skew(0.2deg);
  }
  90% {
    clip: rect(82px, 9999px, 95px, 0);
    transform: skew(0.86deg);
  }
  95% {
    clip: rect(21px, 9999px, 36px, 0);
    transform: skew(0.72deg);
  }
  100% {
    clip: rect(87px, 9999px, 8px, 0);
    transform: skew(0.58deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(2px, 9999px, 34px, 0);
    transform: skew(0.93deg);
  }
  5% {
    clip: rect(17px, 9999px, 14px, 0);
    transform: skew(0.7deg);
  }
  10% {
    clip: rect(17px, 9999px, 61px, 0);
    transform: skew(0.74deg);
  }
  15% {
    clip: rect(72px, 9999px, 55px, 0);
    transform: skew(0.11deg);
  }
  20% {
    clip: rect(3px, 9999px, 19px, 0);
    transform: skew(0.76deg);
  }
  25% {
    clip: rect(77px, 9999px, 57px, 0);
    transform: skew(0.5deg);
  }
  30% {
    clip: rect(7px, 9999px, 85px, 0);
    transform: skew(0.74deg);
  }
  35% {
    clip: rect(49px, 9999px, 84px, 0);
    transform: skew(0.35deg);
  }
  40% {
    clip: rect(69px, 9999px, 72px, 0);
    transform: skew(0.75deg);
  }
  45% {
    clip: rect(84px, 9999px, 13px, 0);
    transform: skew(0.01deg);
  }
  50% {
    clip: rect(41px, 9999px, 27px, 0);
    transform: skew(0.57deg);
  }
  55% {
    clip: rect(96px, 9999px, 33px, 0);
    transform: skew(0.21deg);
  }
  60% {
    clip: rect(66px, 9999px, 82px, 0);
    transform: skew(0.22deg);
  }
  65% {
    clip: rect(69px, 9999px, 76px, 0);
    transform: skew(0.21deg);
  }
  70% {
    clip: rect(86px, 9999px, 56px, 0);
    transform: skew(0.82deg);
  }
  75% {
    clip: rect(51px, 9999px, 4px, 0);
    transform: skew(0.08deg);
  }
  80% {
    clip: rect(94px, 9999px, 41px, 0);
    transform: skew(0.15deg);
  }
  85% {
    clip: rect(61px, 9999px, 71px, 0);
    transform: skew(0.35deg);
  }
  90% {
    clip: rect(25px, 9999px, 77px, 0);
    transform: skew(0.36deg);
  }
  95% {
    clip: rect(82px, 9999px, 42px, 0);
    transform: skew(0.41deg);
  }
  100% {
    clip: rect(7px, 9999px, 73px, 0);
    transform: skew(0.68deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(1deg);
  }
  20% {
    transform: skew(0deg);
  }
  30% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(3deg);
  }
  50% {
    transform: skew(-2deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(1deg);
  }
  80% {
    transform: skew(0deg);
  }
  90% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(-2deg);
  }
}
