

.glitch {
  font-size: 20em;
  display: flex;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  justify-content: center;
  margin: 0;
  color: white;
  letter-spacing: 5px;
 
 
}

.glitch:before, .glitch:after {
  display: flex;
  justify-content: center;
  content: attr(data-text);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
}
.glitch:after {
  color: #f0f;
  z-index: -2;
  animation: glitch 0.5s  cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  filter: blur(1.2px);
}
.glitch:before {
  color: #0ff;
  z-index: -1;
  filter: blur(1.2px);
  -webkit-animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite ;
}



@media only screen and (max-width: 400px) {
  .glitch {
    font-size: 3em;
  }
}
@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  40% {
    -webkit-transform: translate(-3px, -3px);
            transform: translate(-3px, -3px);
  }
  60% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  80% {
    -webkit-transform: translate(3px, -3px);
            transform: translate(3px, -3px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  40% {
    -webkit-transform: translate(-3px, -3px);
            transform: translate(-3px, -3px);
  }
  60% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  80% {
    -webkit-transform: translate(3px, -3px);
            transform: translate(3px, -3px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
