@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.background {
  background: rgb(93, 37, 202);
  background: radial-gradient(
    circle,
    rgba(93, 37, 202, 1) 0%,
    rgba(48, 20, 102, 1) 100%
  );
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  min-height: -webkit-fill-available;
}

.nav {
  position: relative;
  display: flex;
  font-size: 1.6em;
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  animation-name: drop;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes drop {
  from {
    opacity: 0;
    left: -50px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /*border: 1px solid red;*/
  margin: auto;
  padding: 0px;
  align-items: flex-start;
}

.nav-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  color: white;
  /*border: 1px solid green;*/
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  background-color: transparent;
}

.active-nav-item {
  display: flex;
  color: #ff8fff;
  font-weight: 700;
  font-style: italic;
}

.active-nav-item::before {
  content: '';
  display: flex;
  height: 3px;
  margin-right: 5px;
  width: 20px;
  background: #cc5de7;
  transition: width 0s ease;
}
