/*-------------------------------vertical-------------------------*/

.navver {
  position: fixed;
  display: flex;
  font-size: 0.9rem;
  font-family: 'Asap', sans-serif;
  width: auto;
  /*border: 1px solid blue;*/
  right: 5%;
  top: 110px;
  z-index: 1;
}

.nav-listver {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  /*border: 1px solid blue;*/
  margin: 0px;
  padding: 0px;
  align-items: flex-end;
}

.nav-itemver {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0px;
  color: #999999;
  /*border: 1px solid green;*/
  text-decoration: none;
  font-weight: 400;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}
.nav-itemver:hover {
  display: flex;
  /*border: 1px solid red;*/
  color: #5d25ca;
  transition: color 0.5s ease-in-out;
  font-style: italic;
}

.nav-itemver:after {
  display: flex;
  content: '';
  display: flex;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.nav-itemver:hover:after {
  width: 20px;
  background: #ff8fff;
  margin-left: 5px;
}

.active-nav-itemver {
  display: flex;
  color: #5d25ca;
  font-weight: 600;
  font-style: italic;
}

.active-nav-itemver:after {
  content: '';
  display: flex;
  height: 2px;
  width: 20px;
  background: #ff8fff;
  transition: width 0s ease;
  margin-left: 5px;
}

/*-----------------------------------horizonral-------------------------*/

.navhor {
  font-family: 'Asap', sans-serif;
  position: fixed;
  display: flex;
  font-size: 0.9rem;
  width: 100%;
  /*border: 1px solid blue;*/
  margin: auto;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  height: 150px;
  top: 0px;
  z-index: 1;
}

.nav-listhor {
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  /*border: 1px solid red;*/
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.navLihor {
  margin: 0;
}

.nav-itemhor {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 0px 20px;
  color: #999999;
  /*border: 1px solid green;*/
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}
.nav-itemhor:hover {
  /*border: 1px solid red;*/
  color: #5d25ca;
  font-style: italic;
}

.nav-itemhor:after {
  content: '';
  display: flex;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.nav-itemhor:hover:after {
  width: 100%;
  background: #ff8fff;
}

.active-nav-itemhor {
  color: #5d25ca;
  font-weight: 600;
  font-style: italic;
}

.active-nav-itemhor:after {
  content: '';
  display: flex;
  height: 2px;
  width: 100%;
  background: #ff8fff;
  transition: width 0s ease;
}

/*-------------------test-------------*/
.quadrado {
  width: 100px;
  height: 100px;
  background: #000;
  transition: opacity 1s ease-in-out;
  transition: font-size 0.5s ease-in-out;
}

@keyframes crescendo {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.5);
  }
}
